// coffee
.coffee {
    padding: 0;
    position: relative;
    z-index: 0;
    background-image: url('../../../../assets/img/coffee.jpg');
    background-repeat: no-repeat;
    background-size: 100%; 
    min-height: 1100px;
    overflow: hidden; 
    background-attachment: fixed;
    &__title{
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
      z-index: 1;
      h1 {
        font-family: "Sacramento";
        font-size: 99px;
        color: $yellow;
      }
      span {
        font-family: "Plus Jakarta Sans";
        font-size: 50px;
        font-weight: 500;
        color: $white;
  
      }
    }
    &__menu{
      position: absolute;
      bottom:0;
      display: flex;
      
      &-details{
        position: absolute;
        top: 0;
        padding:0 50px;
        
      }
      &-img{
        background-repeat: no-repeat;
        background-size: 100%; 
        width: 100%;
        height: 800px;
        background-position: left;

        img{

          height: 100%;
        }
      }
    
    }
  }