.footer {
  background-image: url("../../../img/contact.jpg");
  background-size: cover;
  height: 710px;
  padding: 0;

  &__schedule {
    &-title {
        text-align: center;
      p {
        font-family: "Sacramento";
        font-size: 100px;
        color: $yellow;
      }
      span {
        font-family: "Plus Jakarta Sans";
        font-size: 40px;
        font-weight: 500;
        color: $white;
      }
    }
    &-time {
        display: flex;
        justify-content: space-around;
        p{
            color: $yellow;
            text-align: center;
        }
        span{
            color: $white;
        }
    }
  }
  &__nav{
    height: 250px;
    background-color: $red-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    &-location{
        // flex: 1;
        color: $white;
        p{
            font-size: 15px;
            font-weight: 300;
        }
    }
    &-logo{
        // flex: 1;
    }
    &-social{
        // flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            color: $white;
            margin-right:5;
        }
    }
  }
}
