.footer {
  background-image: url("../../../img/contact.jpg");
  background-size: cover;
  height: 710px;
  padding: 0;
  position: relative;
  background-attachment: fixed;

  &__schedule {
    position: absolute;
    top: 5%;
    width: 100%;
    &-title {
        text-align: center;
      p {
        font-family: "Sacramento";
        font-size: 100px;
        color: $yellow;
      }
      span {
        font-family: "Plus Jakarta Sans";
        font-size: 40px;
        font-weight: 500;
        color: $white;
      }
    }
    &-time {
        display: flex;
        justify-content: space-around;
        p{
            color: $yellow;
            text-align: center;
        }
        span{
            color: $white;
        }
    }
  }
  &__nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: $red-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    &-location{
        // flex: 1;
        color: $white;
        p{
            font-size: 15px;
            font-weight: 300;
        }
    }
    &-logo{
        // flex: 1;
        width: 100%;
        text-align: center;
    }
    &-social{
        // flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            color: $white;
            margin-right:10px;
        }
    }
  }
}
@media screen and (max-width: 390px){
  .footer{
    background-attachment: unset;
    &__schedule{
      &-title{
        p{
          font-size: 58px;
        }
        span{
          font-size: 19px;
        }
      }
      &-time{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
      }
    }
    &__nav{
      display: flex;
      flex-direction: column;
      align-items: center;

      height: 45%;
      padding: 20px;
      &-location{
        text-align: center;
      }
      &-logo{

      }
      &social{

      }
    }
  }
}
@media screen and (max-width: 768px) and (min-width: 391px){
  .footer{
    background-attachment: unset;
    height: 800px;
    &__schedule{
      &-title{
        p{
          font-size: 58px;
        }
        span{
          font-size: 19px;
        }
      }
      &-time{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
      }
    }
    &__nav{
      display: flex;
      flex-direction: column;
      align-items: center;

      height: 50%;
      padding: 50px 0;
      &-location{
        text-align: center;
      }
      &-logo{

      }
      &social{

      }
    }
  }
}
