.review{
    display: flex;
    padding: 0;
    &__img{
        flex: 1;
        // width: 50%;
        img{
            width: 100%;
        }
    }
    &__comments{
        flex: 1;
        background-color: $red-3;
        padding: 50px;
        &-title{
            text-align: center;
            p{
                font-family: "Sacramento";
                font-size: 99px;
                color: $yellow;
                margin: 0;
            }
            span {
                font-family: "Plus Jakarta Sans";
                font-size: 50px;
                font-weight: 500;
                color: $white;

              }
        }
        &-text{
            padding: 0 20px;

            p{
                color: $white;
            }
            span{
                color: $white;
                font-size: 12px;
            }
        }
    }
}
.contact{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    &__special{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        i{
            color: $red-3;
            margin-right: 5px;
        }
        p{
            font-family: "Plus Jakarta Sans";
            margin: 0;
            font-weight: 600;
        }
    
    }
    &__call{
        .button{
            background-color: $white;
            border: 1.5px solid;
            font-weight: bold;
        }
    }
}