// header
.home__header {
  padding: 0;
  // navbar
  &-navbar {
    padding: 23px 20px;
    position: fixed;
    top: 0;
    transition: 0.3s ease;
    z-index: 1;
    width: 100%;
    .navbar__link {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 50px;
      a {
        color: $white;
        &:hover {
          color: $yellow;
          transition: all 0.3s ease;
        }
        .active {
          color: $yellow;
        }
      }
    }
  }
  .scroll {
    background-color: $red-3;
    height: 70px;
    overflow: hidden;
    transition: $red-3 0.3s ease;
    .navbar__link {
      height: 100%;
      &-logo {
        img {
          height: 50px;
        }
      }
    }
  }

  //carousel
  &-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    height: 700px;

    .carousel__img {
      position: relative;
      height: 100%;

      &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        .title {
          h1 {
            font-family: "Sacramento";
            font-size: 99px;
            color: $yellow;
          }
          span {
            font-family: "Plus Jakarta Sans";
            font-size: 50px;
            font-weight: 500;
            color: $white;
          }
        }
        p {
          font-family: "Plus Jakarta Sans";
          color: $white;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}
/* RESPONSIVE */
@media all and (max-width: 390px)  {

  .home__header {
    // width: 100%;
    &-navbar {

      .navbar__link{
        justify-content: flex-start;
        &-sections{
          display: none;
        }
        &-logo{
          width: 40px;
          img{
            width: 100%;
          }
        }
      }
    }
    &-carousel{
      .carousel__img{
        &-text{
          p{
            padding-top: 10px;
            font-size: 5px;
          }
          .button{
            font-size: 13px;

          }
          .title{
            h1{
              font-size: 41px;
            }
            span{
              font-size: 16px;
            }
           
          }
        }
      }
      .btn-slider{
        display: none;
      }
    }
    .scroll{
      display: none;
    }
  }
}
@media all and (max-width: 768px){
 
  .home__header{

    &-navbar {

      .navbar__link{
        justify-content: flex-start;
        &-sections{
          display: none;
        }
        &-logo{
          width: 40px;
          img{
            width: 100%;
          }
        }
      }
    }
    &-carousel{
      .carousel__img{
        &-text{
          p{
            padding-top: 20px;
            font-size: 10px;
          }
          .button{
            font-size: 13px;

          }
          .title{
            h1{
              font-size: 81px;
            }
            span{
              font-size: 32px;
            }
           
          }
        }
      }
      .btn-slider{
        display: none;
      }
    }
    .scroll{
      display: none;
    }
  }
}
@media all and (max-width: 1024px){
 
  .home__header{

    &-navbar {

      .navbar__link{

        &-sections{

        }
        &-logo{

          img{

          }
        }
      }
    }
    &-carousel{
      .carousel__img{
        &-text{
          p{
            padding-top: 20px;
            font-size: 10px;
          }
          .button{
            font-size: 13px;

          }
          .title{
            h1{
              font-size: 81px;
            }
            span{
              font-size: 32px;
            }
           
          }
        }
      }
      .btn-slider{
        display: none;
      }
    }
  
  }
}
