@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", "Sacramento", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button, input, [tabindex] {
  outline: none;
  border: none;
}

.button {
  padding: 8px 30px;
  background-color: #9c1126;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
}
.button a {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
}
.button:hover {
  background-color: #fff;
  transition: all 0.3s ease;
}
.button:hover a {
  color: black;
}

.btn-slider {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  cursor: pointer;
}
.btn-slider i {
  color: #fff;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.table thead th {
  border: none;
}
.table td {
  border: none;
}
.table .table__title-name p {
  font-family: "Sacramento";
  font-size: 48px;
  color: #eaa021;
}
.table .table__title-quantity p {
  font-size: 15px;
}
.table .table__title-quantity span {
  color: #eaa021;
  font-size: 12px;
}
.table .menu-item p {
  font-weight: bold;
  font-size: 15px;
}
.table .menu-item span {
  color: #707070;
  font-size: 14px;
  font-style: italic;
}
.table .menu-quantity {
  font-weight: bold;
}

.home__header {
  padding: 0;
}
.home__header-navbar {
  padding: 23px 20px;
  position: fixed;
  top: 0;
  transition: 0.3s ease;
  z-index: 1;
  width: 100%;
}
.home__header-navbar .navbar__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.home__header-navbar .navbar__link a {
  color: #fff;
}
.home__header-navbar .navbar__link a:hover {
  color: #eaa021;
  transition: all 0.3s ease;
}
.home__header-navbar .navbar__link a .active {
  color: #eaa021;
}
.home__header .scroll {
  background-color: #9c1126;
  height: 70px;
  overflow: hidden;
  transition: #9c1126 0.3s ease;
}
.home__header .scroll .navbar__link {
  height: 100%;
}
.home__header .scroll .navbar__link-logo img {
  height: 50px;
}
.home__header-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  height: 700px;
}
.home__header-carousel .carousel__img {
  position: relative;
  height: 100%;
}
.home__header-carousel .carousel__img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home__header-carousel .carousel__img-text .title h1 {
  font-family: "Sacramento";
  font-size: 99px;
  color: #eaa021;
}
.home__header-carousel .carousel__img-text .title span {
  font-family: "Plus Jakarta Sans";
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}
.home__header-carousel .carousel__img-text p {
  font-family: "Plus Jakarta Sans";
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

/* RESPONSIVE */
@media all and (max-width: 390px) {
  .home__header-navbar .navbar__link {
    justify-content: flex-start;
  }
  .home__header-navbar .navbar__link-sections {
    display: none;
  }
  .home__header-navbar .navbar__link-logo {
    width: 40px;
  }
  .home__header-navbar .navbar__link-logo img {
    width: 100%;
  }
  .home__header-carousel .carousel__img-text p {
    padding-top: 10px;
    font-size: 5px;
  }
  .home__header-carousel .carousel__img-text .button {
    font-size: 13px;
  }
  .home__header-carousel .carousel__img-text .title h1 {
    font-size: 41px;
  }
  .home__header-carousel .carousel__img-text .title span {
    font-size: 16px;
  }
  .home__header-carousel .btn-slider {
    display: none;
  }
  .home__header .scroll {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .home__header-navbar .navbar__link {
    justify-content: flex-start;
  }
  .home__header-navbar .navbar__link-sections {
    display: none;
  }
  .home__header-navbar .navbar__link-logo {
    width: 40px;
  }
  .home__header-navbar .navbar__link-logo img {
    width: 100%;
  }
  .home__header-carousel .carousel__img-text p {
    padding-top: 20px;
    font-size: 10px;
  }
  .home__header-carousel .carousel__img-text .button {
    font-size: 13px;
  }
  .home__header-carousel .carousel__img-text .title h1 {
    font-size: 81px;
  }
  .home__header-carousel .carousel__img-text .title span {
    font-size: 32px;
  }
  .home__header-carousel .btn-slider {
    display: none;
  }
  .home__header .scroll {
    display: none;
  }
}
@media all and (max-width: 1024px) {
  .home__header-carousel .carousel__img-text p {
    padding-top: 20px;
    font-size: 10px;
  }
  .home__header-carousel .carousel__img-text .button {
    font-size: 13px;
  }
  .home__header-carousel .carousel__img-text .title h1 {
    font-size: 81px;
  }
  .home__header-carousel .carousel__img-text .title span {
    font-size: 32px;
  }
  .home__header-carousel .btn-slider {
    display: none;
  }
}
.discover {
  padding: 0;
  display: block;
}
.discover__title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 90px 30px;
}
.discover__title-paragh {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.discover__title-paragh h2 {
  font-family: "Sacramento";
  font-size: 100px;
  color: #eaa021;
  margin: 0;
}
.discover__title-paragh span {
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 10px;
  color: #000;
}
.discover__title-paragh p {
  font-family: "Plus Jakarta Sans";
  font-size: 13px;
  font-weight: 500;
}
.discover__title-img {
  flex: 1;
}
.discover__title-img img {
  width: 100%;
  border-radius: 20px;
}
.discover__more {
  background: rgba(234, 160, 33, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.discover__more-card {
  padding: 50px;
}
.discover__more-card .card__img {
  text-align: center;
}
.discover__more-card .card__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.discover__more-card .card__items h1 {
  font-weight: 600;
  text-align: center;
  font-size: 18px;
}
.discover__more-card .card__items p {
  font-weight: 300;
  font-family: "Plus Jakarta Sans";
  font-size: 13px;
  color: #707070;
  text-align: center;
  margin-bottom: 15px;
}

@media all and (max-width: 390px) {
  .discover__title {
    display: flex;
    flex-direction: column;
  }
  .discover__title-paragh {
    display: flex;
    flex-direction: column;
  }
  .discover__title-paragh h2 {
    font-size: 58.5px;
  }
  .discover__title-paragh span {
    font-size: 19.5px;
  }
  .discover__title-paragh p {
    margin-top: 30px;
    font-size: 15px;
  }
  .discover__title-img {
    margin-top: 30px;
  }
  .discover__more {
    display: flex;
    flex-direction: column;
  }
  .discover__more-card {
    padding: 20px;
  }
}
@media all and (max-width: 768px) {
  .discover__title {
    display: flex;
    flex-direction: column;
  }
  .discover__title-paragh {
    display: flex;
    flex-direction: column;
  }
  .discover__title-paragh h2 {
    font-size: 100px;
  }
  .discover__title-paragh span {
    font-size: 40px;
  }
  .discover__title-paragh p {
    margin-top: 30px;
    font-size: 15px;
  }
  .discover__title-img {
    margin-top: 30px;
  }
  .discover__more {
    display: flex;
    flex-direction: column;
  }
}
@media all and (max-width: 1024px) {
  .discover__title {
    display: flex;
  }
  .discover__title-paragh {
    display: flex;
    flex-direction: column;
  }
  .discover__title-paragh h2 {
    font-size: 100px;
  }
  .discover__title-paragh span {
    font-size: 40px;
  }
  .discover__title-paragh p {
    margin-top: 30px;
    font-size: 15px;
  }
  .discover__title-img {
    margin-top: 30px;
  }
  .discover__more {
    display: flex;
  }
}
.coffee {
  padding: 0;
  position: relative;
  z-index: 0;
  background-image: url("../../../../assets/img/coffee.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-height: 1100px;
  background-attachment: fixed;
}
.coffee__title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  z-index: 1;
}
.coffee__title h1 {
  font-family: "Sacramento";
  font-size: 99px;
  color: #eaa021;
}
.coffee__title span {
  font-family: "Plus Jakarta Sans";
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}
.coffee__menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-image: url("../../../img/coffee-bg.jpeg");
  background-position: center;
}
.coffee__menu-details {
  top: 0;
  padding: 50px;
  width: 40%;
}

@media screen and (max-width: 390px) {
  .coffee {
    background-size: unset;
    background-attachment: unset;
  }
  .coffee__title h2 {
    font-size: 58.5px;
  }
  .coffee__title span {
    font-size: 19.5px;
  }
  .coffee__menu-details {
    padding: 10px;
    width: unset;
  }
}
@media screen and (max-width: 768px) {
  .coffee {
    background-size: unset;
    background-attachment: unset;
  }
  .coffee__title h2 {
    font-size: 58.5px;
  }
  .coffee__title span {
    font-size: 19.5px;
  }
  .coffee__menu-details {
    padding: 30px;
    width: unset;
  }
}
.food {
  padding: 0;
  position: relative;
  z-index: 0;
  background-image: url("../../../../assets/img/food2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  min-height: 1100px;
  overflow: hidden;
}
.food__title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  z-index: 1;
}
.food__title h1 {
  font-family: "Sacramento";
  font-size: 99px;
  color: #eaa021;
}
.food__title span {
  font-family: "Plus Jakarta Sans";
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}
.food__menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.food__menu-img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 800px;
}
.food__menu-img img {
  height: 100%;
}
.food__menu-detail {
  position: absolute;
  top: 0;
  right: 5%;
  padding: 50px;
}

.bread {
  display: flex;
  justify-content: center;
  padding: 50px;
}

@media screen and (max-width: 390px) {
  .food {
    background-attachment: unset;
  }
  .food__menu-img img {
    height: unset;
  }
  .food__menu-detail {
    padding: 0;
  }
  .bread {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .bread__item {
    height: 90px;
    margin-bottom: 30px;
  }
  .bread__item img {
    height: 100%;
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .food {
    background-attachment: unset;
  }
  .food__menu-img img {
    height: unset;
  }
  .food__menu-detail {
    padding: 0;
  }
  .bread {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .bread__item {
    height: 90px;
    margin-bottom: 30px;
  }
  .bread__item img {
    height: 100%;
    padding: 10px;
  }
}
.review {
  display: flex;
  padding: 0;
}
.review__img {
  flex: 1;
}
.review__img img {
  width: 100%;
}
.review__comments {
  flex: 1;
  background-color: #9c1126;
  padding: 50px;
}
.review__comments-title {
  text-align: center;
}
.review__comments-title p {
  font-family: "Sacramento";
  font-size: 99px;
  color: #eaa021;
  margin: 0;
}
.review__comments-title span {
  font-family: "Plus Jakarta Sans";
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}
.review__comments-text {
  padding: 0 20px;
}
.review__comments-text p {
  color: #fff;
}
.review__comments-text span {
  color: #fff;
  font-size: 12px;
}

.contact {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}
.contact__special {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact__special i {
  color: #9c1126;
  margin-right: 5px;
}
.contact__special p {
  font-family: "Plus Jakarta Sans";
  margin: 0;
  font-weight: 600;
}
.contact__call .button {
  background-color: #fff;
  border: 1.5px solid;
  font-weight: bold;
}

@media screen and (max-width: 390px) {
  .review {
    padding: 0;
    display: block;
  }
  .review__img {
    display: none;
  }
  .review__comments {
    padding: 80px;
  }
  .review__comments-title p {
    font-size: 40px;
  }
  .review__comments-title span {
    font-size: 19.5px;
    font-weight: 400;
    line-height: 1.6rem;
  }
  .contact {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .review {
    padding: 0;
    display: block;
  }
  .review__img {
    display: none;
  }
  .review__comments {
    padding: 80px;
  }
  .review__comments-title {
    margin-bottom: 30px;
  }
  .review__comments-title p {
    font-size: 100px;
  }
  .review__comments-title span {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.6rem;
  }
  .review__comments-text p {
    font-size: 20px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    height: 200px;
  }
}
.footer {
  background-image: url("../../../img/contact.jpg");
  background-size: cover;
  height: 710px;
  padding: 0;
  position: relative;
  background-attachment: fixed;
}
.footer__schedule {
  position: absolute;
  top: 5%;
  width: 100%;
}
.footer__schedule-title {
  text-align: center;
}
.footer__schedule-title p {
  font-family: "Sacramento";
  font-size: 100px;
  color: #eaa021;
}
.footer__schedule-title span {
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}
.footer__schedule-time {
  display: flex;
  justify-content: space-around;
}
.footer__schedule-time p {
  color: #eaa021;
  text-align: center;
}
.footer__schedule-time span {
  color: #fff;
}
.footer__nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #600000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.footer__nav-location {
  color: #fff;
}
.footer__nav-location p {
  font-size: 15px;
  font-weight: 300;
}
.footer__nav-logo {
  width: 100%;
  text-align: center;
}
.footer__nav-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__nav-social a {
  color: #fff;
  margin-right: 10px;
}

@media screen and (max-width: 390px) {
  .footer {
    background-attachment: unset;
  }
  .footer__schedule-title p {
    font-size: 58px;
  }
  .footer__schedule-title span {
    font-size: 19px;
  }
  .footer__schedule-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 45%;
    padding: 20px;
  }
  .footer__nav-location {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    background-attachment: unset;
    height: 800px;
  }
  .footer__schedule-title p {
    font-size: 58px;
  }
  .footer__schedule-title span {
    font-size: 19px;
  }
  .footer__schedule-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 50%;
    padding: 50px 0;
  }
  .footer__nav-location {
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */