@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import '../themes/variables';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Plus Jakarta Sans","Sacramento", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;

}

button, input, [tabindex]{
    outline: none;
    border: none;
}
.button{
    padding: 8px 30px;
    background-color: $red-3;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    a{
        display: inline-block;
        color: $white;
        font-size: 13px;
        font-weight: bold;

    }
    &:hover{
        background-color: $white; 
        transition: all 0.3s ease;
        a{
            color: black;
        }
    }
}
.btn-slider{
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
    cursor: pointer;
    i{
        color: $white;
    }
}
a{
    color: black;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
li{
    list-style: none;
}